button {
  background-color: #6d54db;
  padding: 0%;
  border: none;
  color: white;
  width: 200px;
  height: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  margin: 4px 2px;
  cursor: pointer;
}
